body {
  font-family: "Poppins", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1126px;
  margin: 20px auto;
  width: 100%;
  font-weight: 400;
}

.h2-styling {
  font-size: 36px;
  font-weight: 700;
}

.h6-styling {
  font-weight: 700;
  margin: 0 0 12px 0;
  color: #2f281e;
}

.flexbox-center {
  display: flex;
  align-items: center;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

/* NAVIGATION */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}
.nav-bar__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.nav-bar__list > li {
  margin-left: 50px;
}

.nav-bar__list > li > a {
  text-decoration: none;
  color: #2f281e;
}

.nav-bar__list > li:last-child {
  margin-left: 14px;
}

.logo-img {
  display: block;
  width: 185px;
  height: 32px;
  background-image: url(../images/Logo.png);
}

.primary-button {
  background-color: #ff9900;
  border-style: none;
  border-radius: 4px;
  width: 110px;
  height: 46px;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.primary-button:hover {
  background-color: #6ec201;
}
.primary-button:active {
  background-color: #535353;
}

.sign-in-button {
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
}

/* HEADER */

/* LEFT SIDE */
.header-content__title {
  font-size: 44px;
  font-weight: 700;
  color: #2f281e;
  max-width: 518px;
  line-height: 1.2;
}

.header-content__description {
  font-size: 18px;
  color: #544837;
  max-width: 458px;
  margin-bottom: 45px;
  line-height: 1.5;
}

/* LINKS FOR LEFT SIDE HEADER */

.header {
  margin-bottom: 110px;
}

.header-link {
  text-decoration-color: #ff9900;
}

.header-link__description {
  color: #ff9900;
  font-weight: 600;
  font-size: 16px;
}

.header-content__button,
.feature__button {
  width: 175px;
  height: 53px;
  border-radius: 0;
  font-weight: 700;
}
.header-link__icon {
  background-image: url(../assets/icons/header-triangle-icon.svg);
  width: 20px;
  height: 17px;
  margin-left: 30px;
  margin-right: 8.5px;
}

.header-link__description:hover {
  color: #ba7000;
}

.header-link__description:active {
  color: #2e5200;
}

/* RIGHT SIDE */

.header__img {
  width: 605px;
  height: 496px;
  margin-left: 3px;
}

/* FEATURE  SECTION*/

.feature__title {
  max-width: 539px;
  margin-bottom: 54px;
  text-align: center;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 13px;
}

.card__text,
.prodman-point__text {
  font-size: 16px;
  font-weight: 400;
  max-width: 240px;
  line-height: 1.6;
}

.card__icon {
  width: 50px;
  height: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: none;
}

.feature__card-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.feature__button {
  margin-top: 34px;
  margin-bottom: 90px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* effortless validation section */

.valid__content-title,
.prodman__content-title,
.marketers__content-title {
  margin-bottom: 22px;
  margin-top: 3px;
  padding: 0;
  color: #2f281e;
}

.valid__content,
.marketers__content {
  max-width: 486px;
}

.valid__content-description,
.valid__content-text,
.prodman__content-text,
.prodman__content-description,
.prodman__point-text,
.marketers__content-description,
.marketers__content-text {
  font-weight: 500;
  line-height: 1.6;
  color: #544837;
}

.valid__content-description,
.valid__content-text,
.h6-styling,
.marketers__content-text {
  font-size: 16px;
}

.valid {
  margin-top: 120px;
  margin-bottom: 100px;
}
.valid__content-description:first-of-type {
  margin-bottom: 30px;
}

.valid__image {
  width: 520px;
  height: 574px;
  margin-left: 104px;
}

.valid__content .card {
  width: 18rem;
  border: 1px solid black;
}
/* product managers section */

.prodman {
  margin-bottom: 104px;
}
.prodman__content {
  width: 486px;
}

.prodman__image {
  width: 535px;
  height: 521px;
  margin-right: 100px;
}
.prodman__point-icon {
  background-image: url(../assets/icons/product-managers-icon.png);
  width: 35px;
  height: 35px;
  display: block;
}

.prodman__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 25px;
  margin-bottom: 30px;
}
.prodman__point:first-of-type {
  margin-top: 20px;
}

.prodman__point-text {
  max-width: 375px;
}

/* marketers section */

.marketers__image {
  width: 542px;
  height: 609px;
  margin-left: 82px;
}

.marketers {
  margin-bottom: 146px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 83px;
}
.footer__title {
  font-size: 20px;
  font-weight: bold;
  color: #2f281e;
  line-height: 1.5;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2.5;
}

.footer__list > li > a {
  text-decoration: none;
  color: #544837;
}

.footer__title-positioning {
  max-width: 325px;
  margin-bottom: 20px;
}

footer h2 {
  margin-top: 0;
}

.footer__btn {
  width: 131px;
  height: 39px;
  border-radius: 0;
  margin-top: 21px;
}

input::placeholder {
  color: #bcd0e5;
  font-weight: bold;
}

input[type="tel"] {
  border-color: #bcd0e5;
  width: 325px;
  height: 48px;
}

input[type="tel"]:focus {
  background-color: #7c957b;
  color: white;
}
